* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 60px;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 450px;
  font-size: 36px;
  font-weight: 900;
  border: 2px solid #32A956;
  padding: 12px;
}



.display {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.display div {
  background-color: #32A956;
  height: 70px;
  flex-grow: 1;
  text-align: right;
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  max-width: 300px;
  overflow: hidden;
}

#input div {
  text-align: right;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 0px 8px;
  font-size: 56px;
}


.keyboard {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  height: 200px;

}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-grow: 1;
  align-items: center;
  gap: 8px;
}

div.keyboard div div {
  flex-grow: 1;
  display: flex;
}

button {
  flex-grow: 1;
  width: 60px;
  height: 60px;
  background-color: white;
  border: 1px solid #32A956;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

button:hover {
  background-color: #32A956;
  color: white;
}




